<html>
<title>Test App</title>
<head>
  <script src="angular.js"></script>
    <script src="ShoppingListService.js"></script>
  <script src="app1.js"></script>

</head>
<body ng-app="MyAngApp">
  <div ng-controller="AddProductsController as addproduct">
    Name of product :<input type="text" ng-model="addproduct.name"/></br>
    Quantity of product :<input type="text" ng-model="addproduct.quantity"/></br>
    <button ng-click="addproduct.AddToList();">Add</button></br>
    <ol>
      <li ng-repeat="item in addproduct.shoppingList">
            There are {{item.quantity}} of {{item.name}}
            <button ng-click ="addproduct.RemoveItem($index);">Remove</button>
      </li>
    </ol>
    Total Quantities of items:{{addproduct.GrandTotal}}</br>
    Error: {{addproduct.errorMsg }}
  </div>
  <!-- <div ng-controller="ShowProductsController as showproduct">
  <ol>
    <li ng-repeat="item in showproduct.shoppingList">
          There are {{item.quantity}} of {{item.name}}
          <button ng-click ="showproduct.RemoveItem($index);">Remove</button>
    </li>
  </ol>
{{showproduct.GrandTotal}}
  </div> -->

</body>
</html>
