<div class="container" ng-controller="UserInfoController as usrCtrl">
  <div style="height:232px;" ng-if="usrCtrl.showmsgDiv">
    Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
  </div>
  <div ng-if="usrCtrl.showmainDiv">
    <div class="your info">
      <h2>Your Infomation</h2><hr>
      <div>
        <b>Full Name :</b> {{usrCtrl.fullname}}</br>
        <b>Email :</b> {{usrCtrl.email}}</br>
        <b>Phone Number :</b> {{usrCtrl.phono}}</br>
      </div>
    </div>
    <div class="your fav">
      <h2>Your Favourite Dish</h2><hr>
      <div>
        <div class="info" style="width: 325px;">
        <b>  {{usrCtrl.favmenuitem.name}}</b></br>
          <b>Price (large) :</b>${{usrCtrl.favmenuitem.price_large}}</br>
          <b>Price (small) :</b>${{usrCtrl.favmenuitem.price_small}}</br>
          <b>Description   :</b><i>{{usrCtrl.favmenuitem.description}}</i></br>
          <b>Short Name    :</b>{{usrCtrl.favmenuitem.short_name}}</br>
        </div>
        <div class="fav">
          <img ng-src="AngularJs_Study/Assignment05_2/images/menu/{{usrCtrl.favmenuitem.category_short_name}}/{{usrCtrl.favmenuitem.category_short_name}}.jpg" alt="My Fav Item" />
        </div>
      </div>
    </div>
  </div>
</div>
